
.text-area {
    -fx-background-color: transparent, #4C4CFF, transparent, #4C4CFF;
    -fx-focus-color: #4C4CFF;
    -fx-text-box-border: #4C4CFF;
}

.text-area .content {
    -fx-background-color: transparent, #4C4CFF, transparent, #4C4CFF;
}
